@charset "UTF - 8"; 

.hide{
  display:hide; 
}

body{
    background-image: url("https://wallpapercave.com/wp/wp3820166.jpg")
}
div {
    border-bottom: double;
  }
h1,h2{
    font-family: myFirstFont;
    text-align: center;
    color: blanchedalmond
  }
.navi{
    text-align: center; 
    padding: 14px 25px;
    font-size: 20px;
    
}
a:link{
    color: white

}
a:visited{
    color: whitesmoke
    
}
a:hover{
    color: black
}
.clock{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.center{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ol{
    text-align: center
}
@font-face {
    font-family: myFirstFont;
    src: url(images/PathwayGothicOne-Regular.ttf);
}