@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body{
    box-sizing: border-box;
    height:1080px; 
    margin:0px;
    width: 1820px;
}
main{ 
    display:grid;
    grid-template-areas:"h h h h h h"
                        "p p p p s s"
                        "p p p p s s "
                        "n n z z s s"
                        "n n z z s s"
                        "f f f f f f";
    position: relative;
    background: #282828;

}
header{ 

    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #070707;
    color:  #BB0908; 
    grid-area: h; 
    width: 100%; 
    font-family: Teko;
}
h1{
    font-size: 48px;
}
picture{ 
  grid-area: p; 
}

#sidebar{ 
    grid-area: s; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background: #393939;
    text-align: center;
    width: 360px; 
    height: 918px; 
    color: #FFF; 
}
#pizzaRules{ 
    grid-area: n;
    display: flex; 
    border-top: 5px solid red; 
    background-color: #393939;
}
#pr{ 
    display: flex; 
    flex-direction: column;
    color: #BB0908;
}
#pp{
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
#line{
    border-bottom: 5px solid red;
    color: #FF1D29;
    font-family: "Rock Salt";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#paragraph{
    color: white; 
}
#smallbox{
    margin-top: 43px;
    display: flex; 
}
#link{
    display: flex; 
    flex-direction: column;
}
#nineteen{
    font-family: Teko;
    font-size: 72px;
    font-weight: 700;
    color: white; 
    text-decoration: underline white;
    text-underline-offset: 5px;
}

#links{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400; 
    text-decoration: underline;
    color: #22C1CB; 
}
#redBarron{
    margin-right: 23px; 
}
#flick{
    margin-right: 19px; 
}
#pizzaP{
    margin-left: 21px;
    border-top: 5px solid red; 
    grid-area: z; 
    display: flex; 
    flex-direction: column;
    margin-right: 20px;
    background-color: #393939;
}
#pizzaFlick{
    text-align: center;
    margin-top: 17px;
}
#paragraph{
    font-family: Poppins;
    font-size: 24px;
    margin-left:24px; 
    margin-right:16px; 
    margin-top:19px; 
}
footer{
    grid-area: f; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #070707;
    color:  #bcbcbc; 
    width: 100%; 
    height: 100px;

}
#footText{
    margin-left: 30px;
}
#st1{
    display: flex; 
    margin-right: 2px; 
}
#st2{
    display: flex; 
    margin-right: 2px;
}
#st3{
    display: flex;
    margin-right: 2px;
}
#year{
   color: #FC0303;
}
#BigP{
    margin-left: 44px;
    margin-right: 41px;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
}