
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body{
    margin:0;
    height:100%;
}
body{
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    align-items: stretch;
}
main{
    width:100%;
    background-color: #C2C2C2;
    display:flex;
    flex-direction: column;
}
header{
    background-color: #505050;
    height:23px;
    padding-left: 44px; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    
    

}
#words a{ 

    font-family: 'Roboto';
    display:inline-block; 
    text-decoration: none;
    margin-right: 4px; 
    color: #E3E3E3;
    font-size: 12px; 
    line-height: 14px; 
    font-weight: 400; 
}
#words a:last-child{ 
    margin-right: 0px; 
}
#title{
     font-family: 'Roboto'; 
     display: inline-block; 
     color: #FFFFFF; 
     font-size: 12px; 
     font-weight: 400;
     line-height: 14px;
     
}
#settings{ 
    display: inline-block; 
}

section{
    height:100%;
    background-color: #373737;
    display:flex;
    justify-content: flex-start;
}
aside{
    width:50px;
    background-color: #505050;
    display: flex; 
    flex-direction: column;
    align-items: center;

}
#aside a:last-child{
    margin-top: 300px; 

}
#tile{ 
    display: inline-block; 
    

    
}
#tray{ 
    display: inline-block;
}
#trash{
    display:inline-block; 
}

nav{

    width:150px;
    background-color: #373737;
    transition:width 1s;
    display:flex;
    overflow:hidden;
    
}
details{
    border-bottom: 1px solid #7B7575;
    margin:5px;
    width:90px;
    display: flex; 
    flex-direction: column;
    font-family: 'Roboto'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 12px; 
    line-height:14px; 
    color: #FFFFFF;
}
#file_list{ 
    display: list-item; 
    list-style-image: url(images/sprites\ 16.png);
    align-items: center;
}
#stuff_list{
    display: list-item; 
    list-style-image: url(images/sprites\ 17.png);
    align-items: center;
}
summary{
    list-style: none;

    width:90px;
}
summary:-webkit-details-marker { 
    display: none; 
}
#content{
    width:100%;
    display:flex;
    flex-direction: column;
}
    #tabs{
        background-color: #161616;
        display:flex;
    }
        #tabs a{
            height: 34px;
            width: 173px; 
            display: flex; 
            align-items: center;
            justify-content: space-between; 
            text-decoration: none;
            font-family: 'Roboto';
            color: #C2C2C2;
            width:100px;
            height:40px;    
            display:inline-block;
        }
        #tabs a:link, #tabs a:visited{
            background-color: #161616;

        }
        #tabs a:hover, #tabs a:active{
            background-color: #373737;
        }
    #breadcrumbs{
        background-color: #161616;

    }
    textarea{
        resize:none;
        width:100%;
        height:100%;
        box-sizing: border-box;
        border:none;
        outline:none;
        background-color:black;
        color:white;
    }
footer{
    height:16px;
    background-color:blue;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

}
#text{
    display: inline-block; 
    font-size: ;
}



.hidden{
    width:0;
    padding:0;
    transition:width 1s;
}
