@charset "UTF - 8";
html,body{ 
  box-sizing: border-box; 
  height: 100%; 
  margin: 0px; 
}
h2{
    color: white;
}

.hide{
  display: none; 
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr,1fr;
  grid-template-rows: 1fr,1fr,1fr,1fr ;
  height: 100vh; 
  margin: 2em; 

  grid-template-areas:"head head"

                      "Bio Bio"
                      "Hobbies Schooling"
                      "foot foot";
                      

} 
.item1{ 
  grid-area: head; 
  text-align: center; 
  background-color: blanchedalmond;
}
.item2 {
  grid-area: Bio; 
  text-align: center; 
  padding-bottom:100px;

}
.item3{ 
    grid-area: Schooling; 
    text-align: center;
    height: 300px;
    
}
.item4{ 
    grid-area: Hobbies; 
    text-align: center;
    background-image: url(images/wp7335992.webp);
    background-repeat: no-repeat; 
    background-size: 100%;
    text-emphasis-color: black;
    height: 500px;

}
.item5{ 
    grid-area: foot; 
    text-align: center; 
    background-color: gray;

}
body{ 
    background-color: darkgray;
}
p,li{ 
    color: white;
    text-align: center;
    margin-inline: 300px; 
}