@charset "UTF - 8";
body{
  background-color: darksalmon;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr,1fr;
  grid-template-rows: 1fr,1fr,1fr,1fr ;
  height: 100vh; 
  margin: 2em; 

  grid-template-areas:"head head"

                      "Bio Bio"
                      "Hobbies Schooling"
                      "foot foot";
                      

} 
.item1{
  grid-area: head; 
}
#line{
  color: white; 
}
.item2{
  grid-area: Bio; 
}
.hide{
  display:none; 
}
.item3{
  grid-area: Schooling;
}

.item4{
  grid-area: Hobbies; 
}
.item5{
  grid-area: foot; 
}